@model OlympicGamesApp.UI.ViewModels.Picture.PictureCreateViewModel

@{
    ViewBag.Title = "Create";
}
@if (Model.FirstName != null)
{
    <h2>@Model.FirstName,</h2>
}

<div class="form-horizontal all-buttons">
    @if (Model.CustomerId != null)
    {
        <h4>Change your Picture</h4>
    }
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal jumbotron">
        @if (Model.CustomerId != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ThumStringData)
            </dt>

            <dd>
                <img src="/Picture/Picture/@Model.PictureId" class="customer-img" />
            </dd>

            <dd>
                <div>
                    @using (Html.BeginForm("Remove", "Picture", FormMethod.Post))
                {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("customerId", Model.CustomerId)
                        @Html.Hidden("firstName", Model.FirstName)
                        @Html.Hidden("pictureId", Model.PictureId)
                        <div class="form-group">
                            <div class="col-md-10" style="margin-top: 10px">
                                <input type="submit" value="Remove" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </dd>
        }

        @using (Html.BeginForm("Create", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <dt>
                @Html.DisplayNameFor(model => model.PictureId)
            </dt>
            <dd>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="file" class="form-control" name="image" value="" />
                    </div>
                </div>
            </dd>
            <dd>
                <div class="form-group">
                    <div class="col-md-10">
                        @if (Model.CustomerId != null)
	                    {
		                     @Html.Hidden("customerId", Model.CustomerId)
                        }
                        <input type="submit" value="Upload" class="btn btn-default" />
                    </div>
                </div>
            </dd>
        }
    </dl>
</div>

<div>
    @if (Model.CustomerId == null)
    {
        @Html.ActionLink("Back to Index", "Index", "Picture")
    }
    else
	{
        @Html.ActionLink("Back to Details", "Details", "Customer", new { id = Model.CustomerId }, null)
	}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
