@model OlympicGamesApp.UI.ViewModels.Home.HomeLoginViewModel

    <div class="logincontainer">
        <section id="content">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <h1>Login Form</h1>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { placeholder="Username", id="username" } }) <br/>
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                    @*<input type="text" placeholder="Username" name="userName" required="" id="username" />*@
                </div>
                <div>
                    @Html.PasswordFor(model => model.Password, new { placeholder = "Password", id="password" }) <br>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    @*<input type="password" placeholder="Password" name="password" required="" id="password" />*@
                </div>
                <div>
                    <input type="submit" value="Login"/>
                    <a href="/Customer/Create">Register</a>
                    @if (Model.Login != null && Model.Password != null)
                    {
                        @Html.ValidationSummary(false, "User Id or Password is incorret!", new { @class = "text-danger" })
                    }
                   
                </div>
            }<!-- form -->
        </section><!-- content -->
    </div><!-- container -->




